@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins:wght@700&family=Roboto:wght@700&display=swap");

:root {
  --primary: #fa4a0c;
  --dark: #252b42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.navbar_image {
  margin-left: 70px;
}

.navbar_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35%;
  margin-right: 40px;
  text-decoration: none;
  font-size: 16px;
}
.navbar_item {
  color: var(--dark);
  text-decoration: none;
  padding: 20px;
}
.navbar_item:hover {
  color: var(--primary);
}

.navbar_item--selected {
  color: var(--primary);
  font-weight: 600;
  text-decoration: none;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 50vh;
}
.header_landing--background {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  background-image: url("public/background-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.header_landing_subtitle {
  margin-top: 5vh;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.header_landing_title {
  font-size: 58px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 10px 0;
}
.header_landing_description {
  font-size: 24px;
  text-align: center;
  font-size: medium;
}
.header_landing_buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.header_landing_button--primary {
  background-color: var(--primary);
  border-radius: 30px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 14px;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}
.header_landing_button--secondary {
  background-color: transparent;
  border-radius: 30px;
  border: solid 1px white;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 14px;
  margin-left: 10px;
  color: white;
  text-decoration: none;
}
.header_landing_image {
  position: absolute;
  top: 50%;
}
.divider {
  width: 50%;
  margin: 0 auto;
  color: #e4e4e4;
}
.section {
  margin-top: 30px;
}

.section > h2 {
  text-align: center;
  font-size: 44px;
}
.section_item_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_item_wrapper--reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.section_item_wrapper--reverse > img {
  padding-left: 10vw;
}
.section_item_subtitle {
  color: var(--primary);
  margin-bottom: 10px;
}
.section_item_title {
  font-size: 36px;
  margin-bottom: 20px;
}
.section_item_description {
  font-size: 26px;
  color: #737373;
}

.section--background {
  background-image: url("/public/background-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section--background > h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.section_buttons {
  margin-top: 30px;
}

.section_button--primary {
  padding: 15px 40px;
  font-weight: 700;
  background-color: var(--primary);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  margin-right: 10px;
}

.section_button--secondary {
  padding: 15px 40px;
  font-weight: 700;
  border: solid white 1px;
  text-decoration: none;
  color: white;
  border-radius: 10px;
  font-size: 14px;
}

.footer {
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
}

.footer_icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_icons svg {
  margin: 0 10px;
}

.footer_icons_instagram {
  width: 28px;
}
.footer_icons_facebook {
  width: 24px;
}
.footer_icons_twitter {
  width: 24px;
}
.footer_copyright {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  margin: auto 0;
}

/* https://responsivedesign.is/develop/browser-feature-support/media-queries-for-common-device-breakpoints/ */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar_hambuguer {
    display: flex;
  }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/**********
  iPad 3
  **********/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) and (max-width: 1824px) {
  .header_landing_image {
    top: 60%;
    width: 400px;
  }
  .header_landing_title {
    font-size: 46px;
  }
  .header_landing_subtitle {
    font-size: 16px;
    margin-top: 10vh;
  }
  .header_landing_description {
    font-size: 16px;
  }
}
